@font-face {
  font-family: 'Bastardo';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/BastardoGrotesk-Regular.woff2') format('woff2'),
       url('../fonts/BastardoGrotesk-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Bastardo';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/BastardoGrotesk-Semibold.woff2') format('woff2'),
       url('../fonts/BastardoGrotesk-Semibold.woff') format('woff');
}
